@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.looper.com/img/gallery/the-history-of-wakanda-explained/intro-1600365072.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

